.flex {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.flex>div {

    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

.header{
    font-size: large;
    color: green;
    font-weight: 500;
}

.sub{
    justify-content: center;
}


